@font-face {
  font-family: 'Retwisted';
  src: url('../src/assets/fonts/Retwisted/Retwisted.otf') format('truetype');
}

body,
html {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  margin: 0;
  font-size: 62.5%;
}



body::after {
  content: '';
  background-image: url('./assets/ambitious-creative-co-rick-barrett-I8Ag046kfqc-unsplash.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.itemList {
  font-size: 1.5rem;
  font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul {
  list-style-type: none;
}
button {
  color: white;
  background-color: #732002;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 70%;
  padding: 1rem 1.25rem;
  border-radius: 5px;
}

button:hover {
  background-color: #471401;
  border: 1px solid rgba(#000, 0.05);
  box-shadow: 1px 1px 2px rgba(#fff, 0.2);
  color: lighten(red, 18%);
  text-decoration: none;
  text-shadow: -1px -1px 0 #471401;
  transition: all 250ms linear;
}

.delete {
  font-size: 1.5rem;
  color: #732002;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newEventProgress {
  border: 1px solid #323e40;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}
.newEventProgress h4 {
  font-size: 1.5rem;
}

.formContainer {
  display: flex;
}

.formColumn {
  display: flex;
  flex-direction: column;
}
.formColumn h2 {
  font-size: 1.5rem;
}
.formColumn button {
  margin-top: 20px;
}

header {
  background-color: #323e40;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

header h1 {
  font-family: 'Retwisted';
  font-size: 2.7rem;
  color: orange;
}

nav {
  font-size: 2.3rem;
  padding-bottom: 0.25%;

  padding-top: 1%;

a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bolder;
}

.navspans{
  border: 0.1rem solid white;
  height: 2rem;
  margin-left:20px;
}

h1,
h2,
h3,
p,
a {
  font-family: Arial, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


.form h2 {
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  text-align: center;
}
.form section {
  border: 1px dotted black;
  background-color: #a8a8ff;
  border-radius: 30px;
}
input {
  width: 200px;
  height: 25px;
}
select {
  width: 200px;
  height: 25px;
}

.page {
  width: 100%;
  height: 100%;
}

.content-container {
  height: 80vh;
  margin-top: 2.55%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 70px;
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
}

/*LANDING PAGE */
.introduction {
  padding-top: 5%;
  width: 60%;
}

span.arrow {
  font-size: 90px;
  font-weight: bolder;
  margin-right: 10%;
}

.introduction h1 {
  font-size: 3.5rem;
}
.introduction p {
  font-size: 1.75rem;
}
.introduction h2 {
  font-size: 2rem;
}
.form h1 {
  font-size: 2rem;
}

input[type='text'] {
  background-color: white;
  border: 0.5px solid #555;
}
input[type='email'] {
  background-color: white;
  border: 0.5px solid #555;
}
input[type='password'] {
  background-color: white;
  border: 0.5px solid #555;
}

/* DASHBOARD */
.dashboard-container {
  padding-top: 10%;
  display: flex;
}
.dashboard-container h1 {
  font-size: 3.5rem;
}

/*NAV ANIMATION */
.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.hu__hu__ {
  animation: hu__hu__ infinite 2s ease-in-out;
}
@keyframes hu__hu__ {
  50% {
    transform: translate(15px);
  }
}
/* CREATE NEW EVENT BUTTON ANIMATION */
button.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

button.cssanimation span { display: inline-block }

button.pepe { animation-name: pepe; animation-iteration-count: infinite }
@keyframes pepe {
  from, 33%, 66%, to { transform: rotate(4deg) }
  16%, 50%, 83% { transform: rotate(-4deg) }
}
