body,
html {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  margin: 0;
  font-size: 62.5%;
}

body::after {
  content: '';
  background-image: url('./assets/ambitious-creative-co-rick-barrett-I8Ag046kfqc-unsplash.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

button {
  color: white;
  background-color: #732002;
  text-transform: uppercase;
  font-size: 2rem;
  width: 50%;
  padding: 1rem 1.25rem;
  border-radius: 5px;
}

button:hover {
  background-color: #471401;
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten(red, 18%); 
  text-decoration: none;
  text-shadow: -1px -1px 0 #471401;
  transition: all 250ms linear;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newEventProgress {
  border: 1px solid #323e40;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}

.formContainer {
  display: flex;
}

.formColumn {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #323e40;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
}

nav {
  font-size: 2.3rem;
  padding-bottom: 0.75%;
  padding-top: 0.75%
}
a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  font-weight: bolder;
}
h1,h2,h3,p, a{
  font-family: Arial,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* font-weight: bolder; */
}

.form h2{
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  border: 1px dotted green;
  margin-left: 5%;
  margin-right: -2.5%;
}

.page{
  width: 100%;
  height: 100%;
}

.content-container {
  height:80vh;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;;
  border-radius: 70px;
  background-color:#f8f8ff;
  display: flex;
  justify-content: center;
}


/*LANDING PAGE */
.introduction{
  padding-top:10%;
  width:60%;
  
}

span.arrow{
  font-size:100px;
  font-weight: bolder;
}

.introduction h1{
  font-size:3.5rem;
}
.introduction p {
  font-size: 1.75rem;
}
.introduction h2{
  font-size: 2rem;
}
.form h1{
  font-size: 2rem;
}

input[type=text] {
  background-color:white;
  border: 0.5px solid #555;
}
input[type=email] {
  background-color:white;
  border: 0.5px solid #555;
  
}
input[type=password] {
  background-color:white;
  border: 0.5px solid #555;
}

/* DASHBOARD */
.dashboard-container{
  padding-top: 15%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-container h1{
  font-size:3.5rem;
}